<div class="row flex-center pt-5 mt-3">
	<div class="col-md-6 col-xl-5 mx-auto">
		<div class="card">
			<div class="card-body">
				<div class="text-center">
					<h3 class="white-text"><i class="fa fa-space white-text"></i> Post a space</h3>
					<hr>
				</div>
				<% provide(:button_text, 'Post your space') %>
				<%= render "form" %>
			</div>
		</div>
	</div>
</div>
