<div class="main-content container">
  <h1>This is the Spaces results page</h1>

  <div class="row">
    <div class="col-md-8">
      <div class="row">
      <% @spaces.each do |space| %>
      <div class="col-md-6">
        <figure class="text-center">
          <%= image_tag space.space_image.url(:square) %>
          <figcaption>
            <%= link_to space.title, space_path(:id => space.id) %>
          </figcaption>
        </figure>
      </div>

      <% end %>
      </div>
    </div>
    <div class="col-md-4" id="map-area">
      <%= render 'shared/results_map', locals: { markers: @map_markers } %>
    </div>
  </div>
