<% provide(:title, @user) %>
<div>
  <h1><%= @user.first_name + " " + @user.last_name %></h1>
  <div>
    <% if @user.spaces.any? %>
    <h2> My spaces for rent: </h2>
      <ul>
        <% @user.spaces.each do | space | %>
          <li> <%= space.title %></li>
        <% end %>
      </ul>
  <% end %>
  </div>
  <div>
    <% if @user.bookings.any? %>
    <h2> My bookings: </h2>
      <ul>
        <% @user.bookings.each do | booking | %>
          <li> <%= booking.space.title %></li>
        <% end %>
      </ul>
  <% end %>
  </div>
</div>
