    <section class="p-0" id="portfolio">
    <!-- Page Content -->
    <div class="container">

      <!-- Introduction Row -->
      <br><br>
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Meet the Team</h2>
        <hr class="my-4">
      </div><br>
      <!-- Team Members Row -->
      <div class="row">
        <div class="col-sm-4 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto our-photos" src="https://avatars3.githubusercontent.com/u/26559263?s=460&v=4" alt="">
          <h3>Noah Krell
            <br><small>Developer</small>
          </h3>
          <p>
            <a href="https://github.com/noahkrell"><i class="fa fa-github social-icon" aria-hidden="true"></i></a>
            &nbsp<a href="https://www.linkedin.com/in/noah-krell-042a2a43/"><i class="fa fa-linkedin-square social-icon" aria-hidden="true"></i></a>
            &nbsp<a href="mailto:noahkrell14@gmail.com"><i class="fa fa-envelope social-icon" aria-hidden="true"></i></a>
          </p>
        </div>
        <div class="col-sm-4 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto our-photos" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAIA_wDGAAAAAQAAAAAAAAxOAAAAJGM3ZmY2YTA4LWRiZTUtNGIxOC1hOGRjLTAyYmNiODI2Y2JlOA.jpg" alt="">
          <h3>Peter Haley
            <br><small>Developer</small>
          </h3>
          <p>
            <a href="https://github.com/pblhaley"><i class="fa fa-github social-icon" aria-hidden="true"></i></a>
            &nbsp<a href="https://www.linkedin.com/in/pblhaley/"><i class="fa fa-linkedin-square social-icon" aria-hidden="true"></i></a>
            &nbsp<i class="fa fa-envelope social-icon" aria-hidden="true"></i>
          </p>
        </div>
        <div class="col-sm-4 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto our-photos" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/6/000/28d/14a/14ef635.jpg" alt="">
          <h3>Catherine Valek
            <br><small>Developer</small>
          </h3>
          <p>
            <a href="https://github.com/catherinevalek"><i class="fa fa-github social-icon" aria-hidden="true"></i></a>
            &nbsp<a href="https://www.linkedin.com/in/catherinevalek/"><i class="fa fa-linkedin-square social-icon" aria-hidden="true"></i></a>
            &nbsp<i class="fa fa-envelope social-icon" aria-hidden="true"></i>
          </p>
        </div>
      </div>
    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Space App 2017</p>
      </div>
      <!-- /.container -->
    </footer>
    </section>