#map-area {
  padding-right: 50px;
  height: 800px;
  padding-left: 1px;
}

#map-area-show {
  padding-right: 5px;
}

.space-img-bucket {
  width: 90%;
  text-align: center;
  padding-left: 0px;
}

.results-map {
  margin-left: 0;
}

.show-content {
  margin-top: 5px;
  margin-left: 5px;
}

.space-img-container {
  background-color: black;
}

#map-show {
  padding-top: 0px;
  padding-right: 0px;
}

#show-map-container {
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 0px;
}

.schedule-rows td {
  width: 80px;
  height: 30px;
  margin: 3px;
  padding: 5px;
  background-color: #dee1e1;
  cursor: pointer;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.schedule-header th {
  text-align: center;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.schedule-rows td:first-child {
  background-color: transparent;
  text-align: right;
  position: relative;
  top: -12px;
}
.time-slot {
  border: 2px solid black;
}

#booking-confirmation {
  text-align: center;
}

.payment-modal-header {
  text-align: center;
}


.schedule-rows td[data-selected],
.schedule-rows td[data-selecting] { background-color: #8d9090e8; }

.schedule-rows td[data-disabled] { opacity: 0.55; }

#space-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#profile-space-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-right: 20px;
  padding-bottom: 15px;
}
