#map-area {
  padding-right: 50px;
  height: 800px;
  padding-left: 1px;
}

#map-area-show {
  padding-right: 5px;
}

.space-img-bucket {
  width: 90%;
  text-align: center;
  padding-left: 0px;
}

.results-map {
  margin-left: 0;
}

.show-content {
  margin-top: 5px;
  margin-left: 5px;
}

.space-img-container {
  background-color: black;
}

#map-show {
  padding-top: 0px;
  padding-right: 0px;
}

#show-map-container {
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 0px;
}

.schedule-rows td {
  width: 80px;
  height: 30px;
  margin: 3px;
  padding: 5px;
  background-color: #3498DB;
  cursor: pointer;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.schedule-header th {
  text-align: center;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.schedule-rows td:first-child {
  background-color: transparent;
  text-align: right;
  position: relative;
  top: -12px;
}
.time-slot {
  border: 2px solid black;
}

#booking-confirmation {
  text-align: center;
}


.schedule-rows td[data-selected],
.schedule-rows td[data-selecting] { background-color: #BD6342; }

.schedule-rows td[data-disabled] { opacity: 0.55; }
