#map-area {
  padding-right: 50px;
  height: 800px;
  padding-left: 1px;
}

#map-area-show {
  padding-right: 5px;
}

.space-img-bucket {
  width: 90%;
  text-align: center;
}

.results-map {
  margin-left: 0;
}

.show-content {
  margin-top: 5px;
  margin-left: 5px;
}

.space-img-container {
  background-color: black;
}